/*Selector{
	Property: value;
}*/
* {
	text-align: right;
}
body{
	background-image: url(abc.jpg);
	background-size:cover;
}

p {
	color: red;
	text-align: center;
	border: 4px solid #DE5DF5; /*colour pallete*/
	cursor: pointer;
}	
p{
	line-height: 5px;
	font-style: italic;
	font-weight: bold;
	font-size: 80%;
	font-family: "Times New Roman", Georgia; /*	 if no TNW, then Georgia*/ 

	color: rgba(250, 91, 172,0.5);
}
img {
	float: right;
}

footer {
	clear: both;
	text-align: center;
}

li{
	list-style: none;
	display: inline-block;
}


.webtext {
	border:5px dashed darkgreen;
}

.webtext1 {
	border: 3px solid	skyblue;
}

#div1 {
	background-color: rgba(0, 0, 100, 0.6);
}

#div2 {
	background: rgba(0, 0, 50, 0.3);
}